*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "neu";
}

html, body{
    height: 100%;
    width: 100%;
    padding: 100px;
}

#hero1{
    height: 30vw;
    width: 30vw;
    border-radius: 50%;
    filter: blur(20px);
    background-color: orangered;
    position: absolute;
}
#hero2{
    height: 30vw;
    width: 30vw;
    border-radius: 50%;
    filter: blur(20px);
    background-color: orangered;
    animation-name: anime;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    

}

@keyframes anime {
    from{
        transform: translate(-10%,-10%);
    }
    to{
        transform: translate(10%, 10%);
    }
}

linear-div{
    width: 30vw;
    height: 30vw;
    border-radius: 50%;
    background: linear-gradient(to top ,blue , red);
    /* background: linear-gradient(to bottom ,blue , red);
    background: linear-gradient(to top right,blue , red);
    background: linear-gradient(to bottom left,blue , red); */
}